{mode, max}.

{duration, 3}.

{concurrent, 64}.

{driver, basho_bench_driver_http_raw}.

{code_paths, ["deps/ibrowse"]}.

% we have seen some update_existing errors for the key 1000000,
% so we stop one key before just to avoid confusion
{key_generator, {locality, ${locality}, ${keygen}, 1999999}}.

{value_generator, {fixed_bin, 10000}}.

{http_raw_port, 8098}.

{operations, [${operations}]}.

{source_dir, "foo"}.

{http_raw_ips, [${ips}]}.

{http_raw_params, "?req_version=${tl_mode}"}.

{log_level, warn}.
