{mode, max}.

{duration, 300}.

{concurrent, 64}.

{driver, basho_bench_driver_http_raw}.

{code_paths, ["deps/ibrowse"]}.

{key_generator, {partitioned_sequential_int, 2000000}}.

{value_generator, {fixed_bin, 10000}}.

{http_raw_port, 8098}.

{operations, [{update, 1}]}.

{source_dir, "foo"}.

{http_raw_ips, [${ips}]}.

%%{http_raw_params, "?req_version=${tl_mode}"}.

{log_level, warn}.
