{mode, max}.

{duration, 300}.

{concurrent, 64}.

{driver, basho_bench_driver_http_raw}.
%%{driver, basho_bench_driver_riakc_pb}.

{code_paths, ["deps/ibrowse"]}.

%{key_generator, {partitioned_sequential_int, 1000000}}.
%double it for 16 nodes
{key_generator, {partitioned_sequential_int, 2000000}}.

{value_generator, {fixed_bin, 10000}}.

{http_raw_port, 8098}.

{operations, [{update, 1}]}.

{source_dir, "foo"}.

{http_raw_ips, [${ips}]}.
%%{riakc_pb_ips, [${ips_pb}]}.

%%{http_raw_params, "?req_version=${tl_mode}"}.

%%{riakc_pb_replies, 1}.

{log_level, warn}.
