{mode, max}.

{duration, 300}.

{concurrent, 32}.

{log_level, warn}.

{key_generator, {limit_keys, {locality, ${locality}, ${keygen}, ${num_keys}}, ${num_reqs}}}.

{value_generator, {fixed_bin, ${object_size}}}.

{operations, [{update_existing, 1}]}.

{driver, basho_bench_driver_http_raw}.

{code_paths, ["deps/ibrowse"]}.

{http_raw_ips, [${ips}]}.

{http_raw_port, 8098}.

{http_raw_disconnect_frequency, infinity}.

%%{http_raw_params, "?req_version=${tl_mode}&w=${w}"}.
