{mode, max}.

{duration, ${duration}}.

{concurrent, 64}.

{driver, basho_bench_driver_http_raw}.

{code_paths, ["deps/ibrowse"]}.

{key_generator, {locality, ${locality}, ${keygen}, ${num_keys}}}.

{value_generator, {fixed_bin, 10000}}.

{http_raw_port, 8098}.

{operations, [${operations}]}.

{source_dir, "foo"}.

{http_raw_ips, [${ips}]}.

{http_raw_params, "?req_version=${tl_mode}"}.

{log_level, warn}.
