{mode, max}.
%{mode, {rate, 1280}}.

{duration, 3}.
%{duration, 15}.

{concurrent, 64}.
%{concurrent, 1}.

{driver, basho_bench_driver_http_raw}.
%%{driver, basho_bench_driver_riakc_pb}.

{code_paths, ["deps/ibrowse"]}.

% we have seen some update_existing errors for the key 1000000,
% so we stop one key before just to avoid confusion
%{key_generator, {locality, ${locality}, ${keygen}, 999999}}.

% double it for 16 nodes
{key_generator, {locality, ${locality}, ${keygen}, 1999999}}.
%%{key_generator, {uniform_int, 1000000}}.

{value_generator, {fixed_bin, 10000}}.

{http_raw_port, 8098}.

{operations, [${operations}]}.

{source_dir, "foo"}.

{http_raw_ips, [${ips}]}.
%%{riakc_pb_ips, [${ips_pb}]}.

{http_raw_params, "?req_version=${tl_mode}"}.

%%{riakc_pb_replies, 1}.

{log_level, warn}.
