{mode, max}.

{duration, 300}.

{concurrent, 64}.

{log_level, warn}.

{key_generator, {partitioned_sequential_int, ${start_key}, ${num_keys}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{update, 1}]}.

{driver, basho_bench_driver_http_raw}.

{code_paths, ["deps/ibrowse"]}.

{http_raw_ips, [${ips}]}.

{http_raw_port, 8098}.

{http_raw_disconnect_frequency, infinity}.

%%{http_raw_params, "?req_version=${tl_mode}&w=${w}"}.
